body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 800;
  display: flex;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
              url('mapafull.webp') no-repeat center center;
  background-size: cover;
  color: white;
}

.menusuperior {
  background-color: #841818;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.menusuperior a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: large;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.menusuperior a:hover {
  background-color: #575757;
}

.textoPrincipal {
  padding: 20px 50px 4rem 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  flex-grow: 1;
}
.textoPrincipal{
  a:link {
    color: rgb(12, 50, 239);
  }
  a:visited {
    color: rgb(190, 7, 135);
  }
}

  table{
    width: 100%;
    table-layout: inherit;
    border-collapse: collapse;
  }
  th, td{
    padding: 5px;
    text-align: center;
    border:1px solid black;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #841818;
  color: rgb(187, 182, 182);
  text-align: center;
}

img {
  display: block;
  margin: auto;
}
  @media(max-width: 600px) {
    font-size: 8px;
    .menusuperior {
      background-color: #841818;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 50%;
      z-index: 1000;
    }
    .menusuperior a {
      float: left;
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: large;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    .textoPrincipal {
      width: 100%;
      padding-top: 80px;
    }
  }
  @media(min-width: 601px) {
    font-size: 12px;
    .menusuperior {
      background-color: #841818;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
    .menusuperior a {
      float: left;
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: large;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    .textoPrincipal {
      width: 100%;
      padding-top: 80px;
    }
  }
  @media(max-width: 768px) {
    font-size: 12px;
    .menusuperior {
      background-color: #841818;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
    .menusuperior a {
      float: left;
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: large;
      text-decoration: none;
      transition: background-color 0.3s;
    }
    .textoPrincipal {
      width: 100%;
      padding-top: 80px;
    }
  }
